body {
    font-family: DejaVuSansMono;
}

.mainSearchContainer {
    width: 800px;
    margin: auto;
    margin-top: 200px;
}

.appTitle {
    font-size: 25px;
    text-align: center;
    height: 20px;
    padding: 5px;
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.appTitleKan {
    background: #F9D654;
    border-radius: 5px;
    color: #000;
    font-weight:900;
    padding: 2px;
    padding-bottom: 4px;
    margin-right: 0px;
}

.t {
    background: #000;
    color: #fff;
    display:inline-block;
    padding: 2px;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
}

.v {
    background: #000;
    color: #fff;
    display:inline-block;
    padding: 2px;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
}
