.mainSearchContainer {
    width: 800px;
    margin: auto;
    margin-top: 200px;
}

.appTitle {
    font-size: 25px;
    text-align: center;
    height: 20px;
    padding: 5px 5px 15px 5px;
    position: fixed;
    bottom: 10px;
    right: 20px;
    background: #F9D654;
    border-radius: 5px;
}

.appTitleKan {
    background: #F9D654;
    color: #000;
    font-weight:900;
    padding: 2px;
    padding-bottom: 4px;
}

.t {
    background: #000;
    color: #fff;
    display:inline-block;
    padding: 3px;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    margin-left: -2px;
}

.v {
    background: #000;
    color: #fff;
    display:inline-block;
    padding: 2px;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
}

.alwaysVisibleFooter {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    overflow: hidden;
    background: #22252A;
    padding-top: 5px;
}

.alwaysVisibleFooter > form {
    margin-left: 10px;
    margin-top: 5px;
}

.searchResultContent {
    margin: 10px;
}

.searchThumbnail {
    height: 150px;
    overflow: hidden;
    text-align: center;
}
