<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ನನ್ನ TV</title>
        <link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="public/stylesheets/style.css"/>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="mainSearchContainer">
                        <span class="appTitle"><span class="appTitleKan">ನನ್ನ</span> <span>TV</span></span>
                        <center>
                            <form class="form-search">
                                <div class="input-append">
                                    <input type="text" name="search" class="search-query input-xxlarge" placeholder="Ex: Big Bang Theory"/>
                                    <button type="submit" class="btn btn-inverse">Search</button>
                                </div>
                            </form>
                            <p class="text-info"> There are no Items in your library. Search and add a few items.</p>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>