<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <title>ನನ್ನ TV</title>

        <link rel="stylesheet" href="public/bootstrap/css/bootstrap.css"/>
        <link rel="stylesheet" href="public/stylesheets/style.css"/>
        <script type="text/javascript" src="public/bootstrap/js/bootstrap.min.js"></script>
    </head>

    <body>
        <span class="appTitle"><span class="appTitleKan">ನನ್ನ</span> <span class="t">T</span><span class="v">V</span></span>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <form class="navbar-form form-search" method="get" action="search">
                        <div class="input-append">
                            <input type="text" name="query" class="search-query input-xxlarge" placeholder="Ex: Big Bang Theory" value="{{ searchString }}"/>
                            <button type="submit" class="btn btn-inverse">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container" style="margin-top: 50px">
            <div class="hero-unit">
                <h1>{{ firstResult.title }}</h1>
                <img src="{{ firstResult.thumbnailLink }}" style="float: right"/>
                <p>{{ firstResult.summary }}</p>
                <div>
                    <span class="label label-important">{{ firstResult.category }}</span>
                    {% for genre in firstResult.genre %}
                    <span class="label label-info">{{ genre}}</span>
                    {% endfor %}
                </div>
                <a href="#" class="btn btn-success pull-right"> <i class="icon-plus-sign icon-white"></i> Add to Library</a>
            </div>
            <div class="row-fluid">
                <ul class="thumbnails">
            {% for item in series %}
            <li class="span4">
                <div class="thumbnail">
                  <div class="searchThumbnail" style="background:url({{ item.thumbnailLink }}); background-size: cover;">
                  </div>
                  <div class="addToLibraryContainer">
                      <span class="label label-important">{{ item.category }}</span>
                      <button class="btn btn-mini btn-success addToLibraryButton" title="Add to Library"><i class="icon-plus-sign"></i></button>
                  </div>
                  <div class="caption">
                    <h3>{{ item.title }}</h3>
                    <p class="searchSummary">{{ item.summary }}</p>
                    <div class="genre">
                        {% for genre in item.genre %}
                        <span class="label label-info">{{ genre}}</span>
                        {% endfor %}
                    </div>
                  </div>
                </div>
            </li>
            {% if forloop.counter0 != 0 %}
                {% if series.length != forloop.counter0-1 %}
                    {% if forloop.counter0|add:"1" |divisibleby:"3" %}
                    
                    </ul>
                </div>
                <div class="row-fluid">
                    <ul class="thumbnails">
                    {% endif %}
                {% endif %}
            {% endif %}
            {% endfor %}
            </ul>
        </div>
        </div>
    </body>
</html>
